<!DOCTYPE html>
{% load static %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Learning Hub</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="" rel="icon">
        <link href="" rel="apple-touch-icon">
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
      
        <!-- Vendor CSS Files -->
        <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/icofont.min.css' %}" rel="stylesheet">
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
        <link href="{% static 'blog/css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/venobox.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/aos.css' %}" rel="stylesheet">
  
      
        <!-- Template Main CSS File -->
        <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/custom-style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
        <style>
            .top-bar {
          padding: 5px 0px;
          background: #333;
      }
        </style>
      </head>
      
      <body data-aos-easing="ease-in-out-back" data-aos-duration="1000" data-aos-delay="0"><button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
      
        
          <div class="top-bar">
      <div class="container">
      <div class="row">
      <div class="col-12">
      <a href="#" class=""><i class="mr-2 fas fa-envelope" style="color: #fff"></i> <span class="d-none d-md-inline-block text-white">business@learninghub.com</span></a>
      <span class="mx-md-2 d-inline-block"></span>
      <a href="#" class=""><i class="mr-2 fas fa-phone-alt" style="color: #fff"></i> <span class="d-none d-md-inline-block text-white">+91 9910935066</span></a>
      <div class="float-right">
      <a href="#" class=""><i class="mr-2 fab fa-twitter" style="color: #fff"></i> <span class="d-none d-md-inline-block text-white">Twitter</span></a>
      <span class="mx-md-2 d-inline-block"></span>
      <a href="#" class=""><i class="mr-2 fab fa-facebook" style="color: #fff"></i> <span class="d-none d-md-inline-block text-white">Facebook</span></a>
      </div>
      </div>
      </div>
      </div>
      </div>
        <!-- ======= Header ======= -->
        <div id="header">
          <div class="container">
      
            <div class="logo float-left">
              <!-- Uncomment below if you prefer to use an image logo -->
               <a href="/" style="overflow: hidden;display: inline-block;" class="top-heading">Learning Hub</a>
            </div>
      
            <nav class="nav-menu float-right d-none d-lg-block">
              <ul>
                
                <li class=""><a href="/logout">Logout</a></li>
                <li class=""><a href="/profile">Profile</a></li>
                <li class=""><a href="/changepass">Password Manager</a></li>

              </ul>
            </nav><!-- .nav-menu -->
      
          </div>
        </header></div><!-- End Header -->

        <div class="content-area">
            <div class="middle-align sidebar_content">    	
                <div class="site-main flotRight" id="sitemain">
                                    
            <article id="post-513" class="post-513 page type-page status-publish hentry">
                <header class="entry-header">
                    <h1 class="entry-title">Python Tutorial</h1>
                </header><!-- .entry-header -->
                <form class="row gy-2 gx-3 align-items-center" method='POST'>
                  {% csrf_token %}
                    <div class="entry-content">
                
                      <p>In this easy python tutorial, you will learn the usage of python, why to learn python language and how to run a python program step by step. Whether you are a beginner in programming or an experienced programmer, you can learn python easily. <g class="gr_ gr_64 gr-alert gr_gramm gr_inline_cards gr_run_anim Grammar replaceWithoutSep" id="64" data-gr-id="64">In</g> This tutorial, all examples are based on the latest version of python 3.</p>
                  
                  
                  
                      <h2>About Python Language.</h2>
                  
                  
                  
                      <p>Python is a general-purpose programming language with advanced features. Python was created in the late 1980 and its implementation was started in December 1989. Python 2.0 was released on October 16, 2000, and Python 3.0 was released on December 2008, with many major new features. Python is used in many applications, such as Web and internet development, Scientific and Numeric Application, Desktop Application and, in education domain also.</p>
                  
                  
                  
                      <h2>Why Learn Python.</h2>
                  
                  
                  
                      <ul><li>Python language is easy to learn for beginners.</li><li>For AI (Artificial Intelligence) Development.</li><li>Python is for Game Development, Web Development / Desktop Application.</li><li>Machine Learning with Python</li><li>Python is Free.</li><li>You can run python on any Operating System.</li></ul>
                  
                  
                  
                      <h2>Python Applications.</h2>
                  
                  
                  
                      <ul><li>YouTube</li><li>Google</li><li>DropBox</li><li>Quora</li><li>Instagram</li></ul>
                  
                  
                  
                      <h2>Features Of Python.</h2>
                  
                  
                  
                  <ul><li>Simple</li><li>Easy to Learn</li><li>Free and Open Source</li><li>High-level Language</li><li>Portable</li><li>Interpreted</li><li>Object Oriented</li><li>Extensible</li><li>Embeddable</li></ul>
              </form>
            </div> 
        
        
      
        <!-- ======= Footer ======= -->
        <footer id="footer">
          
      
          <div class="container">
            <div class="copyright">
              © Copyright <strong><span>Learning Hub</span></strong>. All Rights Reserved
            </div>
            <div class="text-center"><b>THE WAY YOU THINK WE CAN</b></div>
          </div>
        </footer><!-- End Footer -->
      
        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      
        <!-- Vendor JS Files -->
        <script src="{% static 'blog/js/jquery.min.js' %}"></script>
        <script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'blog/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'blog/js/validate.js' %}"></script>
        <script src="{% static 'blog/js/jquery.sticky.js'%}"></script>
        <script src="{% static 'blog/js/venobox.min.js' %}"></script>
        <script src="{% static 'blog/js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'blog/js/counterup.min.js' %}"></script>
        <script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'blog/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'blog/js/aos.js' %}"></script>
      
        <!-- Template Main JS File -->
        <script src="{% static 'blog/js/main.js' %}"></script>
    </body>        
   
      
   
</html>

    